html {
    background-color: rgb(110, 168, 219);
    font-family: Poppins;
}

@font-face {
    font-family: Poppins;
    src: url('./fonts/Poppins/Poppins-Regular.ttf');
}

.sidebar {
    position: fixed;
    padding-top: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 70px;
    top: 0;
    left: 0;
    bottom: 0;
    /* overflow-y: auto;
    z-index: 999;
    -webkit-transition: left 300ms;
    -o-transition: left 300ms;
    transition: left 300ms; */
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: start;
    grid-row-gap: 10px;
}
.main-icon {
    max-width: 35px;
}
.sub-icon {
    max-width: 30px;
}
.icon {
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.521);
}
.live-content {
    padding-left: 90px;
}
.tasks {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.tasks > * {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 70px;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 999;
    -webkit-transition: left 300ms;
    -o-transition: left 300ms;
    transition: left 300ms;

    flex: 1;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
}
.task{
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    overflow-y: auto;
    z-index: 999;
    -webkit-transition: left 300ms;
    -o-transition: left 300ms;
    transition: left 300ms;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
}
.form > * {
    margin-bottom: 10px
}
.week {
    display: grid;
    grid-auto-flow: column;
}
.week > * {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 30px;
    margin: 5px;
}
@media only screen and (max-width: 900px) {
    .week {
        grid-auto-flow: row;
    }
}
.home {
    text-align: center;
}
.weeklyTasks {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.85);
}
.completed {
    text-decoration: line-through;
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    opacity: 0.3;
}
.priority-High{
    color: red;
}
.priority-Medium{
    color: orange;
}
.priority-Low{
    color: yellow;
}
